
<div class="wrapper_index">
  <h2>YOUR TASKS</h2>
  <ol>
    <% @tasks.each do |task| %>
    <li>
      <%if task.completed == true %>
      <%=link_to task.name, task_path(task.id)%>

      <% else %>
      <%=link_to task.name, task_path(task.id)%>
      <% end %>
      <%= link_to "view details/edit", task %>
      <%= link_to "delete", task, method: :delete, data: { confirm: "Are you really really sure that you want to delete #{task.name}?" } %>
      <%= link_to "mark completed", task, data: { confirm: "Mark complete?"} %>

    </li>
    <% end %>
  </ul>
</div>
