<%= form_with model: @task do |f| %>
  <p>Please provide the following information to save your task to our database:</p>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :completion_date %>
  <%= f.date_field :completion_date%>

  <%= f.label :description %>
  <%= f.text_field :description %>


  <%= f.submit "Save task", class: "task-button" %>
<% end %>
