<!DOCTYPE html>
<html>
<head>
  <title>TaskList</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<!-- dont touch stuff in the head -->
<body>
  <header>
    <h1> Task List </h1 >
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
    </footer>
  </body>
  </html>
